<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>TickerLab</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Inputs for bokeh plot embedding -->
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}
    
    <link rel="stylesheet" type="text/css" href="static/main.css">
  </head>

  <body>

    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
      <div class="container">
        <ul class="nav navbar-nav">
          <li class="nav">
            <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-right">
            <p class="author">3/26/17 - J. Webster</p>
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron text-center">
      <h1>
	TickerLab
      </h1>
      <h2>
	(A Flask/Bokeh demo)
      </h2>
      <p>
	Search for a ticker symbol to generate a plot (e.g. GOOG):
      </p>
      <div class="container">
        <form id="userinputform" method="post" action="index">
	  <input type="text" name="ticker_symbol" placeholder="">
          <input class="btn btn-lg btn-primary" type="submit" value="Plot">
        </form>
      </div>
    </div>

    <div class="container text-center">
      {{ plot_div|indent(4)|safe }}
    </div>
    
  </body>
</html>
